includes:
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

parameters:
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - constants.php
    level: 9
    paths:
        - ../src
        - ../tests
    ignoreErrors:
        - '/Constructor in .+ has parameter .+ with default value./'
        - '/Method .+ has parameter .+ with null as default value./'
        - '/Method .+ has a nullable return type declaration./'
        - '/Method .+ has parameter .+ with a nullable type declaration./'
        - '/Language construct isset\(\) should not be used./'
        - '/PHPDoc tag @var above assignment does not specify variable name./'
        - '/Cannot cast mixed to string./'
        - '/Class ".+" is not allowed to extend ".+"./'
        - '/Variable property access on .+./'
        - '/Method .+ is not final, but since the containing class is abstract, it should be./'
        - '/Unable to resolve the template type TKey in call to function collect/'
        - '/Unable to resolve the template type TValue in call to function collect/'
        - '/Class APITester\\Preparator\\Config\\PreparatorConfig is neither abstract nor final./'
        - '/Instantiated class \\ApiTestCase not found./'
        - '/Instantiated class \\TestCaseKernelProvider not found./'
        - '/Construct empty\(\) is not allowed. Use more strict comparison./'
        - '/Language construct empty\(\) should not be used./'
        - '/In method "APITester\\Requester\\SymfonyKernelRequester::request", caught "Throwable" must be rethrown.+/'
        - '/.+ APITester\\Test\\TestCase\|null is not subtype of type PHPUnit\\Framework\\Test\|null/'
        - {paths: [ ../tests ], message: '/Method .+ throws checked exception .+ but it''s missing from the PHPDoc @throws tag./'}
        - {paths: [ ../src/Test/TestCase.php, ../src/Test/Plan.php ], message: '/Calling eval\(\) is forbidden, eval is evil, please write more code and do not use eval\(\)/'}
        - {paths: [ ../src/Test/TestCase.php, ../src/Test/Plan.php ], message: '/Language construct eval\(\) should not be used./'}
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - RuntimeException
            - LogicException
            - JsonException
            - PHPUnit\Framework\Exception
            - cebe\openapi\exceptions\TypeErrorException
