includes:
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - ../vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

parameters:
    bootstrapFiles:
        - constants.php
    level: 9
    paths:
        - ../src
        - ../tests
    excludePaths:
        - ../src/Util/Collection.php
        - ../src/Util/functions.php
    ignoreErrors:
        - '/Constructor in .+ has parameter .+ with default value./'
        - '/Method .+ has parameter .+ with null as default value./'
        - '/Method .+ has a nullable return type declaration./'
        - '/Method .+ has parameter .+ with a nullable type declaration./'
        - '/Language construct isset\(\) should not be used./'
        - '/PHPDoc tag @var above assignment does not specify variable name./'
        - '/Cannot cast mixed to string./'
        - '/Class ".+" is not allowed to extend ".+"./'
        - '/Variable property access on .+./'
        - '/Method .+ is not final, but since the containing class is abstract, it should be./'
        - '/Type mixed in generic type ReflectionClass<mixed> in PHPDoc tag @var for variable .+ is not subtype of template type T of object of class ReflectionClass./'
        - '/Type mixed in generic type ReflectionClass<mixed> in PHPDoc tag @return is not subtype of template type T of object of class ReflectionClass/'
        - '/Method OpenAPITesting\\Util\\Object_::getSubTypesOf\(\) should return .+ but returns .+/'
        - '/Unable to resolve the template type TKey in call to function collect/'
        - '/Unable to resolve the template type TValue in call to function collect/'
        - {paths: [ ../tests ], message: '/Method .+ throws checked exception .+ but it''s missing from the PHPDoc @throws tag./'}
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - RuntimeException
            - LogicException
            - JsonException
            - PHPUnit\Framework\Exception
